{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
<p>
    Orci dignissim nulla aenean lacus mus neque, ornare ridiculus egestas.
    Ligula consectetur ut, mus non etiam auctor tempor, nullam dapibus.
</p>

<ul>
    {% for recipe in recipes %}
        <li><a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
