{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
<p>
    Orci dignissim nulla aenean lacus mus neque, ornare ridiculus egestas.
    Ligula consectetur ut, mus non etiam auctor tempor, nullam dapibus.
</p>

<ul>
    <li><a href="{{ path('recipe.show', {id: 32, slug: 'pates-bolognaise'}) }}">Pâtes bolognaise</a></li>
</ul>

{% endblock %}
